@page
@using Core.Entities
@model WebApp.Pages.Post.IndexModel

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
@if (Model.Posts.Count == 0)
{
    <p>There are no posts.</p>
}

else

{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <a asp-page="Details" asp-route-id="@post.Id">
                    <h2>@post.Name</h2>

                </a>
                

            </li>
        }
    </ul>
}